$primary-color: white;
$secondary-color: #00A0C6;
$contact-background-color: lightgray;

.envelope {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: 280px;
    cursor: pointer;
}

#envelope-icon {
    color: white;
}

.contact-info {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 410px;
    height: 205px;
    margin-left: -205px;
    margin-top: 230px;
    border-radius: 10px;
    text-align: center;
}

.contact-info em {
    font-weight: bold;
}
