$primary-color: white;
$music-color: linear-gradient(-45deg, #56ffc3, #5692ff, #56ffc3, #5692ff);
@keyframes MusicGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.music-circle {
    position: absolute;
    background: $music-color;
    background-size: 400% 400%;
    animation: MusicGradient 15s ease infinite;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: calc(140vw + 140vh);
    height: calc(140vw + 140vh);
    margin-left: calc(-70vw - 70vh - 120px);
    margin-top: calc(-70vw - 70vh + 150px);
    border-radius: 50%;
}

.music-container {
    position: absolute;
    top: -50vh;
    left: -50vw;
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: auto;
    opacity: 0.9;
}

.progressions-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progressions-link-image {
    height: 30px;
    width: auto;
    filter: brightness(0) invert(0.7);
}

.progressions-link-container a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.progressions-link-container a:hover {
    transform: scale(1.2);
}

.solipsism-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.solipsism-link-image {
    height: 30px;
    width: auto;
    filter: brightness(0) invert(0.7);
}

.solipsism-link-container a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.solipsism-link-container a:hover {
    transform: scale(1.2);
}

.music-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.music-footer-link {
    height: 30px;
    width: auto;
}

.music-footer-link svg {
    height: 30px;
    width: auto;
}