$primary-color: white;
$music-color: linear-gradient(to top right, #12721b, #5faad8);
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.music-circle {
    position: absolute;
    background: $music-color;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: calc(140vw + 140vh);
    height: calc(140vw + 140vh);
    margin-left: calc(-70vw - 70vh - 120px);
    margin-top: calc(-70vw - 70vh + 150px);
    border-radius: 50%;
}

.music-container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 20px 0px 20px 0px;
    position: absolute;
    width: 500px;
    margin-left: -250px;
    margin-top: -400px;
    text-align: center;
}

.progressions-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progressions-link-image {
    height: 40px;
    width: auto;
    filter: brightness(0) invert(1);
}

.progressions-link-container a{
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}

.progressions-link-container a:hover{
    filter: drop-shadow(2px 2px 4px blue);
}
