$primary-color: white;
$secondary-color: #00A0C6;

$facebook-color: #3B5998;
$twitter-color: #00aced;
$instagram-color: #e1306c;
$spotify-color: #1db954;
$youtube-color: #ff0000;
$soundcloud-color: #ff8800;

a {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
}

.facebook:hover {
    color: $facebook-color;
}

.twitter:hover {
    color: $twitter-color;
}

.instagram:hover {
    color: $instagram-color;
}

.spotify:hover {
    color: $spotify-color;
}

.youtube:hover {
    color: $youtube-color;
}

.soundcloud:hover {
    color: $soundcloud-color;
}

.profile {
	position: relative;
	justify-content: center;
    align-items: center;
}

.profile-pic {
    box-shadow: 0px 0px 0px 0px $primary-color;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic:hover {
    box-shadow: 0px 0px 0px 3px $primary-color;
}

.link {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    cursor: pointer;
}

.chakra {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.chakra svg {
    width: 200px;
    height: auto;
    margin-left: -101px;
    margin-top: -101px;
}

.chakra-path {
    fill: none;
    stroke: $primary-color;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.music-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
}

.bio-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
}

.events-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
}

.videos-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
}

.merch-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    cursor: pointer;
}
