.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-pic {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.icon-outer {
    position: absolute;
    top: 500px;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.music {
    position: absolute;
    background-color: pink;
    top: 500px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    cursor: pointer;
    z-index: -2;
}