$home-color: linear-gradient(-45deg, #56ffc3, #c356ff, #ff5692, #ffc356, #c356ff);
@keyframes HomeGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

a:visited {
    color: white;
}

.hover-scale {
    transition: all .2s ease-in-out;
}

.hover-scale:hover {
    transform: scale(1.2);
}

.hover-scale-light {
    transition: all .2s ease-in-out;
}

.hover-scale-light:hover {
    transform: scale(1.1);
}

.site-container {
    color: white;
    position: fixed;
    width: 50%vw;
    height: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $home-color;
    background-size: 400% 400%;
    animation: HomeGradient 15s ease infinite;
    font-family: 'Roboto';
}

.site-element {
    opacity: 0;
}

@media only screen and (min-height: 600px) and (max-height: 800px) {
    body {
        zoom: 80%;
    }
}

@media only screen and (min-height: 400px) and (max-height: 600px) {
    body {
        zoom: 60%;
    }
}

@media only screen and (min-height: 200px) and (max-height: 400px) {
    body {
        zoom: 40%;
    }
}

@media only screen and (max-height: 200px) {
    body {
        zoom: 20%;
    }
}

.contact-news {
    position: relative;
    justify-content: center;
    align-items: center;
}

.contact-news-container {
    opacity: 0;
}